<div class="main-content">
  <section class="video-container">
    <iframe
    src="https://www.youtube.com/embed/DtdOxW8tDbo?autoplay=1&mute=1&loop=1&playlist=DtdOxW8tDbo&controls=0&modestbranding=1&showinfo=0&rel=0"
    frameborder="0"
    allow="autoplay; encrypted-media"
    allowfullscreen>
  </iframe>
  </section>

  <section class="tagline">
    <h1>To promote every brand</h1>
  </section>

  <section class="sales-tagline">
    <h2>Accelerate your sales with competing</h2>
    <h2>stories</h2>
  </section>
</div>
