<app-main-top-bar></app-main-top-bar>
<div class="main-content">
  <section class="video-container">
    <!-- <video autoplay muted loop playsinline>
      <source src="assets/whiptonic.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video> -->
    <!-- <video src="assets/whiptonic.mp4" autoplay loop muted playsinline></video> -->
    <!-- <video src="https://my-decode-bucket.s3.ap-northeast-2.amazonaws.com/whiptonic.mp4" autoplay loop muted playsinline></video> -->
    <video autoplay loop muted playsinline>
      <source src="https://my-decode-bucket.s3.ap-northeast-2.amazonaws.com/whiptonic.mp4" type="video/mp4">
    </video>
  </section>

  <section class="additional-videos">
    <div class="video-wrapper">
      <video autoplay loop muted playsinline>
        <source src="https://my-decode-bucket.s3.ap-northeast-2.amazonaws.com/sequence1.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video-wrapper">
      <video autoplay loop muted playsinline>
        <source src="https://my-decode-bucket.s3.ap-northeast-2.amazonaws.com/Tales.mp4" type="video/mp4">
      </video>
    </div>
  </section>

  <section class="tagline">
    <h1>To promote every brand</h1>
  </section>

  <section class="sales-tagline">
    <h2>Accelerate your sales with competing</h2>
    <h2>stories</h2>
  </section>
</div>
